# Application
NODE_ENV=development
PORT=3000

# Database (using standard environment variables)
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_IDLE_TIMEOUT=
MYSQL_CONNECT_TIMEOUT=
MYSQL_ROOT_PASSWORD=

# Docker Compose (these will be used directly in the docker-compose.yml)
MYSQL_DOCKER_DB=
MYSQL_DOCKER_USER=
MYSQL_DOCKER_PASSWORD=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:@localhost:3307/windows_explorer_db"